.content{
  min-height: 100vh;
  padding: 10px
}

.padding10{
  padding: 10px;
}

.paddingTop20{
  padding-top: 20px;
}

.paddingTop40{
  padding-top: 40px;
}

.paddingTop50{
  padding-top: 50px;
}

.paddingBottom20{
  padding-bottom: 20px;
}